.login-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 10rem 0;
}
.login-hero a{
    text-decoration: none;
    color: white;
}
.login img{
    width: 10rem;
    height: 10rem;
    margin: 5rem;
    display: block;
    justify-self: center;
}
.login{
    background-color: #adadad6c;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.login-form {
    width: 370px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}
.form-group {
    margin-bottom: 20px;
}

.label {
    font-family: "Poppins", sans-serif;
    display: block; /* Importante para que aparezca arriba del input */
    margin-bottom: 8px;
    font-weight: 600;
    color: #070606;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    box-sizing: border-box; /* Para que el padding no aumente el ancho */
}

input:focus {
    outline: none;
    border-color: #253754;
}

.btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 2rem;
    background-color: #253754;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-login:hover {
    background-color: #253754d5;
    box-shadow: 2px 2px 5px black;
}
