html {
    scroll-behavior: smooth;
}
body{
    background-color: #E3F7F7;
    margin: 0;
    padding: 0;
}
.top-header{
    background-color:#a7b8b8bb;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style:unset;
    font-weight: bold;
    justify-content: center;
    margin: 3rem 22rem 0 22rem;
    border-radius: 25px;
    height: 70px;
    width: 1200px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0; /* Añade esto */
    padding: 10px; /* Añade esto */
}

.menu-horizontal > li{
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-horizontal > li > a{ /* Estiliza los enlaces */
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal > li > a:hover{
    color: rgb(172, 163, 163);
}

.btn-cuenta {
    display: flex; /* Usa flex */
    padding: 0 !important; /* Quita el padding heredado */
}

.btn-cuenta img{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: block;
}

main{
    flex: 1;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 8rem;
    margin: 9.5rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
    align-items: center;
}

.hero img {
  height: 400px;
}

.text{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    background-color: #2e607759;
    border: #2e607709;
    border-style:groove;
    color: white;
    padding: 2rem;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: bold;
    font-size: 3rem
}
.text > h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
}
.text > p{
    text-align: justify;
    margin-bottom: 3rem;
    font-size: 20px;
    width: 500px;
    text-align: center;
}
.comenzar-button{
    justify-self: center;
    
}
.comenzar-btn{
    background-color:#1487BF;
    border: none;
    border-radius: 15px;
    color:white;
    height: 2.5rem;
    width: 9rem;
    cursor: pointer;
    place-items: center;
    font-size: 20px;
}

.btn-inicio {
    display: flex; /* Usa flex */
    padding: 0 !important; /* Quita el padding heredado */
}

.btn-inicio img{
    height: 120px;
    width: 125x;
    display: block;
}

/*Estilos para la seccion de Monitoreo*/
.monitoreo-hero{
    margin: 0 305px 0 305px ;
    font-family: "Poppins", sans-serif;
}
.monitoreo-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.monitoreo-top img{
    width: 100px;
    height: 100px;
}

.elements-top{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-top img{
    width: 51.25px;
    height: 51.25px;
}
.top-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-two p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
}
.top-elemnts-three p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-four p{
    width: 150px;
    text-align: center;
    margin: 8px 0 8px 0;
}

.elements-middle{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-middle img{
    width: 51.25px;
    height: 51.25px;
}
.middle-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.middle-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-two p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.middle-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-three p{
    width: 120px;
    margin: 8px 0 8px 0;
    text-align: center;
}
.middle-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-four p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}



.elements-botton{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-botton img{
    width: 51.25px;
    height: 51.25px;
}
.botton-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-two p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-three p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-four p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
/*Style para nosotros*/

.nosotros-hero{
    margin: 0 305px 4rem 305px;
    font-family: "Poppins", sans-serif;
}
.parent-nosotros {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div-nosotros {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background-color: #2e607759;
    border-radius: 25px;
}
.div-nosotros img{
    width: 40px;
    height: 40px;
}
.div-nosotros p{
    width: 700px;
    text-align: center;
}
.div-vis {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 7rem;
    background-color: #2e607759;
    border-radius: 25px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.div-vis img{
    width: 70px;
    height: 70px;
}
.div-vis p{
    width: 400px;
    text-align: center;
}
.div-mision {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 7rem;
    background-color: #2e607759;
    border-radius: 25px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.div-mision img{
    width: 70px;
    height: 70px;
}
.div-mision p{
    width: 400px;
    text-align: center;
}

/*Style para contactanos*/
.contactanos-hero{
    font-family: "Poppins", sans-serif;
    margin: 0 5rem 5rem 5rem;
    height: 700px;
}
.contactanos-hero a{
    text-decoration: none;
    color: black;
}

.parent-contactanos{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 550px;

}

.div-redes { grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-redes img{
    width: 40px;
    height: 40px;
    margin: 1rem;
}
.div-mapas { grid-area: 3 / 2 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-mapas img{
    border-radius: 25px;
}
.div-info { grid-area: 1 / 2 / 3 / 3; 
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-herramientas { grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-explora { grid-area: 1 / 4 / 3 / 5; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-consejos { grid-area: 1 / 5 / 3 / 6; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}