html {
    scroll-behavior: smooth;
}
body{
    background-image: url(../Imagenes/fondo.png);
    background-repeat: no-repeat;                               /* 2. Evita que la imagen se repita */
    background-size: cover;                                     /* 3. Asegura que cubra toda el área */
    background-position: center center;                         /* 4. Centra la imagen */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


/*TOP-HEADER AND STYLES*/


.top-header{
    background-color: #d6cdc9;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style:unset;
    font-weight: bold;
    justify-content: center;
    margin: 3rem 15rem 0 15rem;
    border-radius: 25px;
    height: 70px;
    width: 1200px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

.menu-horizontal > li{
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal > li > a:hover{
    color: #253754;
    background-color: #f7f7f744;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-cuenta {
    display: flex;
    padding: 0 !important;
}

.btn-cuenta img{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: block;
}

main{
    flex: 1;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    padding: 8rem;
    margin: 9.5rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
    align-items: center;
}

.hero img {
  height: 400px;
}

.text{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    background-color: #253754;
    border: #2e607709;
    border-style:groove;
    color: white;
    padding: 2rem;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: bold;
    font-size: 3rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.text > h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
}
.text > p{
    text-align: justify;
    margin-bottom: 3rem;
    font-size: 20px;
    width: 500px;
    text-align: center;
}
.comenzar-button{
    justify-self: center;
    
}
.comenzar-btn{
    background-color:#3c5985;
    border: none;
    border-radius: 15px;
    color:white;
    height: 2.5rem;
    width: 9rem;
    cursor: pointer;
    place-items: center;
    font-size: 20px;
}
.comenzar-btn:hover{
    background-color:#4f6381;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}
.btn-inicio {
    display: flex; /* Usa flex */
    padding: 0 !important; /* Quita el padding heredado */
}

.btn-inicio img{
    height: 120px;
    width: 125x;
    display: block;
}

.image-interline{
    margin: 3rem 0 3rem 0;
}

.image-interline img{
    width: 100%;
    height: 400px;
}




/*Estilos para la seccion de Monitoreo*/
.monitoreo-hero{
    margin: 0 305px 0 305px ;
    font-family: "Poppins", sans-serif;
}
.monitoreo-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e3d8d4;
    border-radius: 25px;
    padding: 1rem 0 1rem 0;
    margin: 0 9.5rem 0 9.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.monitoreo-top img{
    width: 100px;
    height: 100px;
}

.elements-top{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-top img{
    width: 51.25px;
    height: 51.25px;
}
.top-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-two p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
}
.top-elemnts-three p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
}
.top-elemnts-four p{
    width: 150px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.top-elemnts-one:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.top-elemnts-two:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.top-elemnts-three:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.top-elemnts-four:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.elements-middle{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-middle img{
    width: 51.25px;
    height: 51.25px;
}
.middle-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.middle-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-two p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.middle-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-three p{
    width: 120px;
    margin: 8px 0 8px 0;
    text-align: center;
}
.middle-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.middle-elemnts-four p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.middle-elemnts-one:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.middle-elemnts-two:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.middle-elemnts-three:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.middle-elemnts-four:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}



.elements-botton{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5rem;
}
.elements-botton img{
    width: 51.25px;
    height: 51.25px;
}
.botton-elemnts-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-one p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-two p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-three{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    align-items: center;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-three p{
    width: 120px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    justify-content: center;
}
.botton-elemnts-four p{
    width: 90px;
    text-align: center;
    margin: 8px 0 8px 0;
}
.botton-elemnts-one:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.botton-elemnts-two:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.botton-elemnts-three:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.botton-elemnts-four:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*Style para nosotros*/

.nosotros-hero{
    margin: 0 305px 4rem 305px;
    font-family: "Poppins", sans-serif;
}
.parent-nosotros {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div-nosotros {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background-color: #2e607759;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.div-nosotros img{
    width: 40px;
    height: 40px;
}
.div-nosotros p{
    width: 700px;
    text-align: center;
}
.div-vis {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-left: 3rem;
    background-color: #2e607759;
    border-radius: 25px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.div-vis img{
    width: 70px;
    height: 70px;
}
.div-vis p{
    width: 400px;
    text-align: center;
}
.div-mision {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-right: 3rem;
    background-color: #2e607759;
    border-radius: 25px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.div-mision img{
    width: 70px;
    height: 70px;
}
.div-mision p{
    width: 400px;
    text-align: center;
}

/*Style para contactanos*/
.contactanos-hero{
    font-family: "Poppins", sans-serif;
    padding: 0 5rem 0 5rem;
    height: 700px;
    display: flex;
    background-color: #b8b8b8;
    align-items: center;
    justify-content: center;
}
.contactanos-hero a{
    text-decoration: none;
    color: black;
}
.contactanos-hero a:hover{
    color:#253754
}

.parent-contactanos{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 550px;

}

.div-redes { grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-redes img{
    width: 40px;
    height: 40px;
    margin: 1rem;
}
.div-mapas { grid-area: 3 / 2 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-mapas img{
    border-radius: 25px;
}
.div-info { grid-area: 1 / 2 / 3 / 3; 
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-herramientas { grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-explora { grid-area: 1 / 4 / 3 / 5; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.div-consejos { grid-area: 1 / 5 / 3 / 6; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.video-section{
    margin: 3rem 32rem 3rem 32rem;
    width:560px;
    height:315px;
}

/* --- RESPONSIVE DESIGN (Móviles y Tablets) --- */

@media screen and (max-width: 1400px) {
    .top-header {
        width: 90%;
        margin: 2rem auto;
        height: auto;
        flex-direction: column;
    }

    
    .monitoreo-top{
        margin: 0  ;
    }
    .menu-horizontal {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        margin: 2rem 0;
        padding: 2rem;
        flex-direction: column;
        text-align: center;
    }
    .video-section{
        margin: 0;
        width:27rem;
        height:15rem;
    }
    .video-section iframe{
        width:26.7rem;
        height:15rem;
    }
    .hero img {
        height: auto;
        max-width: 80%;
        margin-bottom: 2rem;
    }
    .div-nosotros , .div-vis , .div-mision {
        width: 90%;
        margin: 2rem !important;
    }
    .text {
        width: 100%;
        padding: 1.5rem;
    }

    .text > p {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .monitoreo-hero, .nosotros-hero {
        margin: 0 2rem 4rem 2rem;
    }
    .elements-top, .elements-middle, .elements-botton {
        margin: 2rem 0;
        flex-wrap: wrap;
        gap: 20px;
    }
    .parent-nosotros {
        display: flex;
        flex-direction: column;
    }
    .div-nosotros p, .div-vis p, .div-mision p {
        width: 90%;
        margin: 2rem !important;
    }
    .contactanos-hero {
        height: auto;
        padding: 3rem 1rem;
    }

    .parent-contactanos {
        display: flex;
        flex-direction: column;
        width:26.7rem;
        gap: 30px;
        width: auto;
    }

    .div-redes, .div-mapas, .div-info, .div-herramientas, .div-explora, .div-consejos {
        grid-area: auto;
        text-align: center;
        width:26.7rem;
    }
    .div-mapas img{ 
        width:26.7rem;
    }
}

@media screen and (max-width: 480px) {
    .top-header {
        font-size: 14px;
    }

    .menu-horizontal > li {
        margin: 0.5rem;
    }

    .text > h1 {
        font-size: 32px;
    }
}